MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/<dbname>
PORT=8000
NODE_ENV=development
FRONTEND_URL=  #localhost:3000 for development
ADMIN_EMAIL=
ADMIN_PASSWORD=
JWT_SECRET= #create using openssl rand -base64 32 command